$family-sans-serif: 'Ubuntu', sans-serif;

$blue: #2982d0;
$sky-blue: #8fe0f9;
$pink: #ff8282;
$primary: $sky-blue;
$background: lighten($sky-blue, 10%);
$border: $sky-blue;

$control-radius: 0;

@import '~bulma/bulma';

body {
  background-color: $sky-blue;
  background-attachment: fixed;
}

.header-image-wrapper {
  border: 0.5rem solid $pink;
}

.title {
  color: #9CD3A5;
}

.container {
  padding: 2rem;
  background-color: $white;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}
